# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env



# Assets / Images / Docs
src/assets/
public/*.png
public/*.jpg
public/*.jpeg
public/*.svg
public/*.webp
public/*.pdf

# Optional (if you never want any images tracked)
*.png
*.jpg
*.jpeg
*.svg
*.webp
*.pdf