@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


body {
  overscroll-behavior-y: contain; 
  -webkit-overflow-scrolling: touch;
}


html, body {
  touch-action: auto !important;
}


.neon-glow {
  text-shadow: 0 0 8px #22d3ee, 0 0 15px #22d3ee;
}
